<% if (errors.length > 0) { %>

  <div class="erro-api">
    <p>
      <% errors.forEach(erro => { %>
        <%= erro %><br>
      <% }); %>
    </p>
  </div>

<% } %>

<% if (success.length > 0) { %>

  <div class="success-api">
    <p>
      <% success.forEach(success => { %>
        <%= success %><br>
      <% }); %>
    </p>
  </div>

<% } %>
