<%- include('includes/headStart') %>
<%- include('includes/navBar') %>

<div class="container">
  <div class="content">
    <h1 class="error-404">404 - Error</h1>
    <p class="error">A página que você procura não existe.</p>
  </div>
</div>

<%- include('includes/headEnd') %>
