<%- include('includes/headStart') %>

<%- include('includes/navBar') %>

<div class="container">
  <div class="content">
    <h1>Agenda</h1>
    <p class="info-ag">Seus contatos est達o abaixo</p>

    <%- include('includes/messages') %>

    <div class="tabela-contato">
      <table class="table">
        <tr>
          <td>Jo達o</td>
          <td>Vitor</td>
          <td>321321321</td>
          <td>meuEmail@gmail.com</td>
        </tr>
        <tr>
          <td>Jo達o</td>
          <td>Vitor</td>
          <td>321321321</td>
          <td>meuEmail@gmail.com</td>
        </tr>
        <tr>
          <td>Jo達o</td>
          <td>Vitor</td>
          <td>321321321</td>
          <td>meuEmail@gmail.com</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<%- include('includes/headEnd') %>
