<%- include('includes/head') %>

<div class="container">
  <div class="content">
    <h1>
      Titulo
    </h1>

    <form action="/" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <label for="nome">Nome</label>
      <input type="text" name="nome" id="nome">
      <button type="submit">Enviar</button>
    </form>

  </div>
</div>

<%- include('includes/headEnd') %>
