/* formulario start */
.form {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.form input {
  font-size: 1.4em;
  padding: 0px 8px;
  height: 40px;
  min-width: 80%;
  border: 1px solid #ccc;
  border-radius: 10px 0px 0px 10px;
}

.form button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 0px 10px 10px 0px;
  background-color: rgb(240, 76, 100);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form button:hover {
  background-color: rgba(240, 76, 100, 0.8);
  color: #fff;
}

/* formulario end */
